$whiteColor: #ffffff;

$firstColor: #7395ae;
$secondColor: #379683;
$thirdColor: #557a95;
$fourthColor: #5d5c61;
$fifthColor: #b1a296;
$sixthColor: #ebebeb;

$blackColor: #000000;

$max-tablet-width: 1024px;
$max-mobile-width: 667px;
