@import "vars";
@import "mixins";

/* Default styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  @include font(14px, 17px, 300, normal);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Blocks */
/* index.html */
@import "blocks/header";
@import "blocks/gallery";
@import "blocks/footer";
